<head>
 <meta name="description" content="{{ site.description }}"/>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="msapplication-TileColor" content="#ffffff">
 <meta name="msapplication-TileImage" content="{{ site.favicon144x144 | prepend: site.baseurl }}">
 <meta name="theme-color" content="#ffffff">
 <link rel="apple-touch-icon" sizes="57x57" href="{{ site.apple57x57 | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="60x60" href="{{ site.apple60x60 | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="72x72" href="{{ site.apple72x72 | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="76x76" href="{{ site.apple76x76 | prepend: site.baseurl  }}">
 <link rel="apple-touch-icon" sizes="114x114" href="{{ site.apple114x114 | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="120x120" href="{{ site.apple120x120 | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="144x144" href="{{ site.apple144x144 | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="152x152" href="{{ site.android152x152 | prepend: site.baseurl }}">
 <link rel="apple-touch-icon" sizes="180x180" href="{{ site.android180x180 | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.android192x192 | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon32x32 | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" sizes="96x96" href="{{ site.favicon96x96 | prepend: site.baseurl }}">
 <link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon16x16 | prepend: site.baseurl }}">
 <link rel="manifest" href="{{ site.manifest | prepend: site.baseurl }}">
 <link rel="stylesheet" href="{{ '/assets/css/cover.css'  | prepend: site.baseurl }}"/>
 <link rel="preconnect" href="https://fonts.gstatic.com"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Code+Pro:wght@200&display=swap"/>
 <title>{{ site.title }}</title>
 {% seo %}
</head>
